.front-page {
  text-align: center;
  cursor: default;
  color: aliceblue;
}
.front-page__title {
  font-size: 3rem;
}
.front-page__start-btn {
  height: 3.5rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #69b4ff;
  cursor: pointer;
}
.front-page__start-btn:hover {
  background-color: #ffffff;
  color: #006fff;
}
