.questionsContainer {
  color: #e1ffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  gap: 1rem;
  cursor: default;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(14, 34, 57, 0.3);
}
h1 {
  font-size: 3rem;
}
.checkAnswerBtn {
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 3.5rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #69b4ff;
  cursor: pointer;
}
.checkAnswerBtn:hover {
  background-color: #ffffff;
  color: #006fff;
}
